# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import re

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
print(mongo.list_database_names())

['admin', 'autosaurus', 'config', 'fruits_db', 'local', 'met', 'uk_food', 'uk_foof']

In [4]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [5]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [6]:
# assign the collection to a variable
establishments = db['establishments']
establishments

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'uk_food'), 'establishments')

In [7]:
result= establishments.find_one()
pprint(establishments.find_one())

{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65318b6bbff629c48e6124f9'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
print("Number of documents in result:", establishments.count_documents(query))
# Display the first document in the results using pprint
results = establishments.find(query)
pprint(results[0])

Number of documents in result: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65318b6bbff629c48e614030'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [9]:
# Convert the result to a Pandas DataFrame
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

Number of rows in the DataFrame: 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65318b6bbff629c48e614030,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65318b6bbff629c48e6143b3,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65318b6bbff629c48e6146bc,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65318b6bbff629c48e6148a8,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65318b6bbff629c48e6148b9,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,65318b6bbff629c48e61525e,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,65318b6bbff629c48e615479,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,65318b6cbff629c48e6169a2,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,65318b6cbff629c48e616de8,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,65318b6cbff629c48e6175fa,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

In [10]:
df['LocalAuthorityName'].value_counts()

Newham                  9
Uttlesford              5
Waltham Forest          3
Sevenoaks               3
Redbridge               3
Barking and Dagenham    3
Lewes                   2
Southend-On-Sea         2
Tendring                2
Greenwich               2
Bromley                 1
Eastbourne              1
Havering                1
Bexley                  1
Basildon                1
Rochford                1
Brentwood               1
Name: LocalAuthorityName, dtype: int64

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [11]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
regex_pattern = re.compile("London")
query = {"AddressLine1": {"$regex": regex_pattern},"RatingValue": {"$gte": 4}}
result = establishments.find(query)

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(count)

# Display the first document in the results using pprint
pprint((result[0]))

474
{'AddressLine1': 'London Road',
 'AddressLine2': 'Ramsgate',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Christ Church Junior School',
 'BusinessType': 'School/college/university',
 'BusinessTypeID': 7845,
 'ChangesByServerID': 0,
 'Distance': 4593.440948233857,
 'FHRSID': 409732,
 'LocalAuthorityBusinessID': 'PI/000019204',
 'LocalAuthorityCode': '190',
 'LocalAuthorityEmailAddress': 'environmental.health@thanet.gov.uk',
 'LocalAuthorityName': 'Thanet',
 'LocalAuthorityWebSite': 'http://www.thanet.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT11 0ZZ',
 'RatingDate': '2022-02-22T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65318b6bbff629c48e612809'),
 'geocode': {'latitude': 51.33069, 'longitude': 1.405991},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/409732',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}

In [12]:
# Convert the result to a Pandas DataFrame
London_df = pd.json_normalize(result)
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
London_df.head(10)

Number of rows in the DataFrame: 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65318b6bbff629c48e612809,409732,0,PI/000019204,Christ Church Junior School,School/college/university,7845,London Road,Ramsgate,Kent,...,1.405991,51.330690,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65318b6bbff629c48e6131a9,1103166,0,79037,St Dunstans Church Hall,Other catering premises,7841,80 London Road,Canterbury,,...,1.070556,51.283399,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65318b6bbff629c48e6131d0,1102589,0,57334,Canterbury Lodge,Hotel/bed & breakfast/guest house,7842,63 London Road,Canterbury,,...,1.066384,51.282348,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65318b6bbff629c48e6131d8,1102586,0,57313,Yorke Lodge Hotel,Hotel/bed & breakfast/guest house,7842,50 London Road,Canterbury,,...,1.066331,51.282835,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65318b6bbff629c48e6131f1,1102735,0,70202,The Victoria Hotel,Restaurant/Cafe/Canteen,1,59 London Road,Canterbury,,...,1.062824,51.282082,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,65318b6bbff629c48e6131ff,1102588,0,57329,The Red House Nursing Home Ltd,Caring Premises,5,London Road,Canterbury,,...,1.061656,51.282200,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,65318b6bbff629c48e6133cd,859546,0,PI/000072814,Tesco Express,Retailers - supermarkets/hypermarkets,7840,397 Old London Road,Hastings,East Sussex,...,0.609671,50.873443,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,65318b6bbff629c48e6133d6,1025318,0,PI/000074499,Domino's Pizza,Takeaway/sandwich shop,7844,464 Old London Road,Hastings,East Sussex,...,0.608791,50.872688,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,65318b6bbff629c48e6133d7,1264565,0,PI/000077547,Good on Greens,Retailers - other,4613,466 Old London Road,Hastings,East Sussex,...,0.608791,50.872690,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,65318b6bbff629c48e6133d8,1333583,0,PI/000077900,Nawaaz Indian Takeaway,Takeaway/sandwich shop,7844,482 Old London Road,Hastings,East Sussex,...,0.608791,50.872690,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [13]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.3263969421387
longitude = 0.987136006355286
query = {
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    "RatingValue": 5
} 
sort = [("scores.Hygiene", -1)]
# Print the results
new_results = establishments.find(query).sort(sort)

In [14]:
# Convert result to Pandas DataFrame
step_three_df = pd.json_normalize(new_results)
step_three_df.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65318b6bbff629c48e6138c9,1067015,0,18/500309/MIXED,Trailpro Nelsons Coffee Cabin,Takeaway/sandwich shop,7844,Unit 23,Lamberhurst Farm,Dargate Road,...,0.995403,51.321355,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65318b6bbff629c48e6138cb,713931,0,PI/000078759/SW,Cheesemakers Of Canterbury,Manufacturers/packers,7839,Unit 3,Lamberhurst Farm,Dargate Road,...,0.995403,51.321355,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65318b6bbff629c48e6139a2,1081783,0,18/500438/MIXED,Starbucks,Takeaway/sandwich shop,7844,Thanet Way,Hernhill,Kent,...,0.987373,51.325421,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65318b6bbff629c48e6139b5,1388651,0,21/500459/MIXED,Budgens - Thanet Way (Coast-bound),Retailers - other,4613,BP Petrol Station,Thanet Way,Hernhill,...,0.987147,51.326389,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65318b6bbff629c48e6139b8,739709,0,14/500302/MIXED,Costa Coffee (London Bound),Restaurant/Cafe/Canteen,1,Costa Coffee,Thanet Way,Hernhill,...,0.987136,51.326397,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [22]:
pipeline = [{"$match": {"scores.Hygiene": 0}},{"$group": {"_id": "$LocalAuthorityName","count": {"$sum": 1}}},{"$sort": {"count": -1}}]

# Execute the aggregation pipeline
result = establishments.aggregate(pipeline)

# Print the number of documents in the result
count = len(list(result))
print("Number of documents:", count)

# Execute the pipeline again and print the first 10 results
result = establishments.aggregate(pipeline)
print("First 10 results:")
for i, document in enumerate(result):
    if i < 10:
        pprint(document)

Number of documents: 55
First 10 results:
{'_id': 'Thanet', 'count': 1130}
{'_id': 'Greenwich', 'count': 882}
{'_id': 'Maidstone', 'count': 713}
{'_id': 'Newham', 'count': 711}
{'_id': 'Swale', 'count': 686}
{'_id': 'Chelmsford', 'count': 680}
{'_id': 'Medway', 'count': 672}
{'_id': 'Bexley', 'count': 607}
{'_id': 'Southend-On-Sea', 'count': 586}
{'_id': 'Tendring', 'count': 542}

In [23]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [{"$match": {"scores.Hygiene": 0}},{"$group": {"_id": "$LocalAuthorityName","count": {"$sum": 1}}},{"$sort": {"count": -1}}]
results1 = list(establishments.aggregate(pipeline))
# Print the number of documents in the result
count = len(list(result))
print("Number of documents:", count)
# Print the first 10 results
for i, result in enumerate(results1):
    if i < 10:
        pprint(result)

Number of documents: 0
{'_id': 'Thanet', 'count': 1130}
{'_id': 'Greenwich', 'count': 882}
{'_id': 'Maidstone', 'count': 713}
{'_id': 'Newham', 'count': 711}
{'_id': 'Swale', 'count': 686}
{'_id': 'Chelmsford', 'count': 680}
{'_id': 'Medway', 'count': 672}
{'_id': 'Bexley', 'count': 607}
{'_id': 'Southend-On-Sea', 'count': 586}
{'_id': 'Tendring', 'count': 542}

In [24]:
# Convert the result to a Pandas DataFrame
step_four_df = pd.DataFrame(results1)
# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(step_four_df))
# Display the first 10 rows of the DataFrame
step_four_df.head(10)

Number of rows in the DataFrame: 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542